body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(78, 85, 92);
    font-size: 16px;
    line-height: 1;
  }

  textarea{
      /*change font*/
    background: white;
    border: none;
    resize: none;
    color: #000000;
    padding: 10px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.795);
    color: black;
    border-radius: 0;
  }

h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 42px;
    color: slategrey;
}

#weekDay{
    font-family: 'Lobster Two', cursive;
    font-size:42px;
}

}
  #todayIs{
    font-family: 'Bebas Neue', cursive;
    font-size: 42px;
    color: slategrey;
    padding-top: 25px;
  }

  #currentTime{
    font-family: 'Bebas Neue', cursive;
     font-size: 36px;
     color: salmon;
 }
  
  .description{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: white;
    opacity: 0.8;
    white-space: pre-wrap;
  }
  
  .time-block{
    text-align: center;
    border-radius: 15px;
    margin: 15px;
    height: 80px
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px
  }
  
  .hour {
    font-family: 'Bebas Neue', cursive;
    font-size: 26px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    justify-content: center;
    padding-top: 30px;
  }
  
  .past {
    background-color:rgba(70, 120, 170, 0.8);
    color: white;
  }
  
  .present {
    background-color: #fffc61;
    color: white;
  }
  
  .future {
    background-color: hsla(276, 42%, 62%, 0.8);
    color: white;
  }
  
  .saveBtn {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: slategrey;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }
  /* ------------------------------------------------------------------------ */

  .parallax {
    /* The image used */
    background-image: url("../images/Turquoise.jpeg;");
  
    /* Set a specific height */
    height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }