body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(78, 85, 92);
    font-size: 16px;
    line-height: 1;
  }

  textarea{
      /*change font*/
    background: white;
    border: none;
    resize: none;
    color: #000000;
    padding: 10px;
  }
  
  .jumbotron {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.795);
    color: black;
    border-radius: 0;
  }

  #currentDay{
     font-family: 'Bebas Neue', cursive;
      font-size: 38px;
      color: teal;
  }
  
  .description{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: white;
    opacity: 0.8;
    white-space: pre-wrap;
  }
  
  .time-block{
    text-align: center;
    border-radius: 15px;
    margin: 10px auto;
    height: 80px
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px
  }
  
  .hour {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    justify-content: center;
    padding-top: 30px;
  }
  
  .past {
    background-color:rgba(70, 120, 170, 0.8);
    color: white;
  }
  
  .present {
    background-color: #fffc61;
    color: white;
  }
  
  .future {
    background-color: hsla(276, 42%, 62%, 0.8);
    color: white;
  }
  
  .saveBtn {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: slategrey;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }
  /* ------------------------------------------------------------------------ */

  .wrapper {
    /* The height needs to be set to a fixed value for the effect to work.
     * 100vh is the full height of the viewport. */
    height: 100vh;
    /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
    overflow-x: hidden;
    /* Enable scrolling on the page. */
    overflow-y: auto;
    /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
    perspective: 2px;
  }
  
  .section {
    /* Needed for children to be absolutely positioned relative to the parent. */
    position: relative;
    /* The height of the container. Must be set, but it doesn't really matter what the value is. */
    height: 50vh;
  
    /* For text formatting. */
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
    color: white;
  }
  
  .parallax::after {
    /* Display and position the pseudo-element */
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    /* Force the background image to fill the whole element. */
    background-size: 100%;
    /* Keep the image from overlapping sibling elements. */
    z-index: -1;
  }
  
  /* Sets the actual background images to adorable kitties. This part is crucial. */
  .bg1::after {
    color: slategrey;
    background-repeat: no-repeat;
  }
  
  .bg2::after {
    background-image: url("../images/Turquoise.jpeg");

  }